<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='agregar_producto.css') }}">
</head>
<body>
  <div class="container">
    <h1>Agregar Producto</h1>
    <form method="POST" action="{{ url_for('guardar_producto') }}" enctype="multipart/form-data">
      <label>
        <span>Nombre:</span>
        <input type="text" name="name">
      </label>
      <label>
        <span>Precio:</span>
        <input type="number" name="price">
      </label>
      <label>
        <span>Descripción:</span>
        <input type="text" name="description">
      </label>
      <label>
        <span>Marca:</span>
        <input type="text" name="brand">
      </label>
      <label>
        <span>Contacto:</span>
        <input type="text" name="contact">
      </label>
      <label>
        <span>Imagen:</span>
        <input type="file" name="image">
      </label>
      <input type="submit" value="Guardar" class="btn-submit">
    </form>
  </div>
</body>
</html>
