<!DOCTYPE html>
<html>
<head>
  <title>Menú de Inicio de Sesión</title>
  <link rel="stylesheet" type="text/css" href="menu.css">
</head>
<body>
  <div class="container">
    <h1>Iniciar Sesión</h1>
    <form action="registro" method="GET">
      <div class="form-group">
        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" placeholder="Ingresa tu matrícula">
      </div>
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" placeholder="Ingresa tu correo electrónico">
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" placeholder="Ingresa tu contraseña">
      </div>
      <div class="form-group">
        <input type="submit" value="Iniciar Sesión" class="btn-submit">
      </div>
    </form>
    <p class="register-link">¿No tienes una cuenta? <a href="registro.html">Regístrate</a></p>
  </div>
</body>
</html>
