<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos - Mi Tienda</title>
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
  <div class="contenedor-producto">
    <ul class="lista-productos">
      <li>
        <img src="Memoria.png" alt="Producto 1" class="imagen-producto">
        <h2 class="titulo-producto">Kit Memoria RAM Kingston FURY Beast RGB DDR5</h2>
        <p class="detalles-producto">La memoria Kingston FURYTM Plug N Play se ejecutará en sistemas DDR5 hasta la velocidad permitida por el BIOS del sistema del fabricante. PnP no puede aumentar la velocidad de la memoria del sistema más rápido de lo que permite el BIOS del fabricante. Los productos Kingston FURY Plug N Play DDR5 admiten especificaciones XMP 3.0 para que el overclocking también se pueda lograr al habilitar el perfil XMP incorporado. </p>
        <p class="costo-producto">Precio: $3,700</p>
        <p class="dimensiones-producto">Dimensiones: 42.2mm, 7.11mm, 133.3mm </p>
        <p class="marca-producto">Marca: Kingston</p>
        <p class="referencia-producto">Referencia: ABC123</p>
        <button class="boton-comprar">Comprar</button>
      </li>
      <li>
        <img src="mouse.jpeg" alt="Producto 2" class="imagen-producto">
        <h2 class="titulo-producto">Mouse Gamer RAZER BASILISK V3</h2>
        <p class="detalles-producto">Mouse Gamer RAZER BASILISK V3 RGB 8 Botones 2600 DPI REACONDICIONADO Razer BASILISK V3</p>
        <p class="costo-producto">Precio: $1,099</p>
        <p class="dimensiones-producto">Dimensiones: 6cm x 13cm </p>
        <p class="marca-producto">Marca: RAZER</p>
        <p class="referencia-producto">Referencia: DEF456</p>
        <button class="boton-comprar">Comprar</button>
      </li>
      <li>
        <img src="teclado.jpg" alt="Producto 3" class="imagen-producto">
        <h2 class="titulo-producto">Teclado Gamer Mecánico 60% Redragon Fizz Pro White Grey, Switches Redragon Red, Inalámbrico</h2>
        <p class="detalles-producto">El K616-RGB FIZZ PRO es un teclado mecánico con un diseño 60% y 3 modos de conexión: cableado e inalámbrico por RF 2.4 GHz y también por Bluetooth 5.0. Cuenta con 61 teclas compactas, lo que no sólo aportará más espacio en tu setup, sino también un toque muy guay.</p>
        <p class="costo-producto">Precio: $1,199</p>
        <p class="dimensiones-producto">Dimensiones: 15cm x 6cm x 2cm</p>
        <p class="marca-producto">Marca: Redragon Fizz Pro</p>
        <p class="referencia-producto">Referencia: GHI789</p>
        <button class="boton-comprar">Comprar</button>
      </li>
    </ul>
  </div>
</body>
</html>