<!DOCTYPE html>
<html>
<head>
  <title>Interfaz Mercado Libre</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='producto_servicio.css') }}">
</head>
<body>
  <div class="container">
    <h1>Servicios</h1>
    <div class="card-container">
      {% for servicio in servicios %}
        <div class="card">
          <img src="{{ url_for('static', filename=servicio[4]) }}" alt="Servicio">
          <h2>{{ servicio[1] }}</h2>
          <p>Precio: ${{ servicio[2] }}</p>
          <p>Fecha de Inicio: {{ servicio[3] }}</p>
          <p>Fecha de Finalización: {{ servicio[4] }}</p>
        </div>
      {% endfor %}
    </div>

    <h1>Productos</h1>
    <div class="card-container">
      {% for producto in productos %}
        <div class="card">
          <img src="{{ url_for('static', filename='teclado.png') }}" alt="Imagen Alusiva">
          <h2>Producto ID: {{ producto[0] }}</h2>
          <h3>{{ producto[1] }}</h3>
          <p>Precio: ${{ producto[2] }}</p>
          <p>Descripción: {{ producto[3] }}</p>
          <p>Stock: {{ producto[4] }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
